body {
  font-size: 1em;
  line-height: 1.5rem;
  margin: auto;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace, serif;
  word-wrap: break-word;
  background-color: var(--bg);
  color: var(--color-text);
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 20px;
  margin-right:20px  
}



.terminal-logo {
  width: 100%;
}

#loader::after {
    content: "_";
    opacity: 1;
    animation: terminalLoader 1s linear infinite;
}

@keyframes terminalLoader {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

.container {
  max-width: 70rem;
}

.darkmode-div .toggle-container {
    position: absolute;
    top: 5px;
    right: 20px;
}


* {
 box-sizing:border-box;
 text-rendering:geometricPrecision;
}


a {
 cursor:pointer;
 text-decoration:none;
}

a .grid {

}

a:hover {
 background-color: #ffffff;
 color:rgb(34,33,41);
}

h1 {
  font-size: 17px;
  color: var(--color-headings);
}

h1::before {
  content: "> ";
}

h5:before {
    content: "### ";
    position:  relative;
    white-space: pre-line; 
}

h5 {
  font-size: 1rem;
}


.terminal-menu {
  width: 100%;
  margin-top: -5px;
}


.terminal-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
  margin-top: 0px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: disc;
}

li {
  position: relative;
  display: block;
  padding-left: 0px;
}

.terminal-name, 
.grid-content h1 {
  color: var(--color-headings);
}

.terminal-menu a {
  color: #919094;
}

.grid-image a {
  color: var(--color-text);
}

.terminal-menu ul {
 list-style-type:none;
 padding:0;
 display:flex;
 flex-direction:row;
 align-items: flex-start;
 justify-content: left;
 width:100%;
 flex-grow:1;
 margin-top:0;
 margin-right: 10px;
}

.terminal-menu li {
 display:flex;
 margin:0 0 0.5em 0;
 padding: 0px;
 margin-right: 1em;
 margin-top: 20px;
 justify-content: space-evenly;
}

.grid-content li::before{
    content: "-";
}

.grid-image li::before{
    content: "-";
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}


.grid div {
  margin-bottom: 30px;
}

.grid-image ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.grid-image img {
  width: 220px;
  padding-bottom: 10px;
}


.footer {
    padding-top: 0px;
    border-top: 1px solid #e5e5e5;
    color: var(--color-text);
}


.grid-project-images {
  width: 368px;
  height: 312px;
}

.grid-projects {
  margin: 0 0 20px 0;
}

input,
textarea {
  display: block;
  margin: 5px 0px 5px 0;
}

@media screen and (min-width: 950px)  {
  .container {
    display: flex;
    flex-direction: column;
    justify-content:  space-around; 
    align-items:  inherit;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 64em;
    margin: 0 auto;
    padding: 0 1rem;
  }



  div.terminal-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: flex-start;
    margin-bottom: 30px;
  }

  div.terminal-menu {
    display: flex;
    flex-direction: column;
    justify-content:  right; 
    align-items:  flex-end;
    margin-top: -20px;
  }
  
  div.grid-image {
    
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    
  }

  .grid-image img {
    padding-bottom: 10px;
  }

 div.grid-content {
    flex: 0 0 75%;
    -ms-flex: 0 0 75%;
 }

  div.grid {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .h2 {
  font-size: 32px;
  }

  .grid-project-images {
    width: 368x;
    height: 312px;
  }

  #grid-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }


  div.contact-container{
  display: block;
  }
}




